.idea

# Terraform and terragrunt
*.tfstate*
*.tfstate.backup
*.tfplan
.terragrunt-cache/
.terraform/
ip_address
test_open_file.py
integration_tests/__pycache__


#Daedric price oracle
Daedric/tbears.log

Daedric/config/euljiro/keystores
Daedric/config/euljiro/score_address.txt

Daedric/config/mainnet/keystores
Daedric/config/mainnet/score_address.txt

Daedric/config/yeouido/keystores
Daedric/config/yeouido/score_address.txt

Daedric/config/localhost/score_address.txt
Daedric/icon
Daedric/cron-pricebot
Daedric/deploy_tests

api_tests/__pycache__

docker/Dockerfile.original

docker/test.sh
docker/test2.sh

